* {
    box-sizing: border-box;
 }
 .postcard {
    max-width: 350px;
    margin: 50px auto 0;
    padding: 20px;
    background: rgba(255, 253, 238, 0.5);
    border: 10px solid transparent;
    border-image: 10 repeating-linear-gradient(135deg, #F74F4F, #F74F4F 10px, transparent 10px, transparent 20px, #FBCFDF 20px, #FBCFDF 30px, transparent 30px, transparent 40px);
    font-family: ''Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    color: #605756;
 }
 .form-row {
    margin-bottom: 15px;
 }
 .form-row input[type="text"], .form-row input[type="email"], .form-row textarea {
    width: 100%;
    padding: 0 10px;
    line-height: 35px;
    border-width: 0;
    outline:auto;
    outline-color: darkgray;
    background: transparent url(bg-form.png) bottom left repeat-x;
    background-size: 8px 35px;
    font-family: 'Playfair Display';
 }
  .form-row textarea {
    background-attachment: local;
    background-repeat: repeat;
    resize: none;
 }
 .form-row input[type="submit"] {
    padding: 10px 20px;
    margin-top: 10px;
    background: #F74F4F;
    border-width: 0;
    cursor: pointer;
    outline: none;
    font-family: 'Playfair Display';
    font-size: 13px;
    letter-spacing: 1px;
    color: #fffdee;
    text-transform: uppercase;
    transition: 1s cubic-bezier(.165, .84, .44, 1);
    border-radius: 30px;
 }
 .form-row input[type=submit]:hover {
    background: #F74F4F;
 }