.container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: rgba(247,79,79,0.3);
    font-family: 'Playfair Display', serif;
}
.column1{
column-width: 1fr;
color:#f74f4f;
text-align: center;
padding:10px;
margin-top: 4%;
line-height: 30px;
}
.column2{
column-width: 1fr;
}
img{
    margin-top: 30%;
}