.container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: rgba(247,79,79,0.3);
    font-family: 'Playfair Display', serif;
}
.phone{
    color:rgba(172, 166, 166, 0.3)
}
.column1{
column-width: 50%;
color:#f74f4f;
text-align: center;
font-weight: bolder;
padding:10px;
margin-top: 4%;
line-height: 30px;
}
.column2{
column-width: 50%;
}
img{
    margin-top: 30%;
}
@media screen and (max-width:767px) {
    .column1{
        display:none;
    }
    .postcard{
        margin-top: 0;
    }
}