@import "style_our_pro";

$colorfon: #f74f4f;

.Conteiner-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: hsl(0, 91%, 64%);
    
}
.Conteiner-main__button {
    color: #ffffff;
    font-size: 5px;
    font-family: 'Arial', Arial, sans-serif;
    line-height: 1.22;
    font-weight: 500;
    border-radius: 10px;
    background-color: #000000;
    background-position: center center;
    border-color: transparent;
    border-style: solid;
    /* transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, border-color 0.2s ease-in-out; */
    transform: translateZ(0);
    display: table-cell;
    vertical-align: middle;
    width: 40%;
    height: 0%;
    text-align: center;
    /* visibility: visible; */
    /* box-sizing: content-box; */
    text-decoration: none;
    font-size: 30px;
    line-height: 1.2;
    padding: 2%;
}
