body {
    width: 100vw;
    height: 100vh;
}

.ContainerMain {
    align-items: center;
    background: linear-gradient(#f74f4f 70%, white);
    font-family: 'Jost', 'Playfair Display';
    text-decoration: double;
}


.ContainerText__h1 {
    color: white;
    font-style: oblique;
}

.bolttext {
    color: white;
    font-style: oblique;
}


.Allwrap {
    display: flex;
    align-items: flex-end;
    flex-wrap: wrap;
}

.WrapAdd img {
    max-width: 100%;
}

.WrapAdd {
    text-align: center;
}

.img_wight {
    max-width: 50%;
}

.img_girl {
    max-width: 80%;
}

.Allwrap {
    background: linear-gradient(white 80%, #f74f4f);
    width: 100vw;
}

.bottonFon {
    width: 100vw;
    background-color: #f74f4f;
}

.ContainerRuls {
    display: flex;
    width: 100vw;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: space-around;
}

.ContainerRuls__img {
    display: flex;
    justify-content: end;
}

.ContainerRuls__text {
    font-family: 'Jost', 'Playfair Display';
    font-size: 1.5rem;
    -webkit-text-stroke: 0.3px black;
}

.hrefcard {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    font-size: 1rem;
    color: black;
    font-weight: bold;
    text-transform: uppercase;
    font-family: 'Roboto', Ð¢ahoma, sans-serif;
    transition: box-shadow 0.3s, transform 0.3s;
    cursor: pointer;
}

a:hover,
a:active,
a:focus {
    transform: translateY(-4px);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2), 0 16px 20px rgba(0, 0, 0, 0.2);
    color: #f74f4f;
}

.ContainerText__button {
    font-size: 2rem;
    transition: box-shadow 0.3s, transform 0.3s;
    cursor: pointer;
    text-transform: uppercase;
    text-decoration: none;
    padding: 5%;
    gap: 1;
    color: rgb(14, 13, 13);
    display: flex;
    max-width: min-content;
    font-style: oblique;
    -webkit-text-stroke: 0.4px black;


}

.ContainerText__button:hover {
    color: rgb(245, 240, 240);
}


.information {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    margin-left: 10%;
    max-width: max-content;
    margin-bottom: 10%;
    font-family: 'Jost', 'Playfair Display';
}

.ditail__What:hover,
.ditail__What:active,
.ditail__What:focus {
    transform: translateY(4px);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2), 0 16px 20px rgba(0, 0, 0, 0.2);
}

.ditail__Ruls:hover,
.ditail__Ruls:active,
.ditail__Ruls:focus {
    transform: translateY(4px);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2), 0 16px 20px rgba(0, 0, 0, 0.2);
}

.ditail__statistic:hover,
.ditail__statistic:active,
.ditail__statistic:focus {
    transform: translateY(4px);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2), 0 16px 20px rgba(0, 0, 0, 0.2);
}

.window {
    max-width: 80%;
    padding: 1%;
    background-color: #ffe6ea;
}

/* .ditail__Ruls,
.ditail__statistic,
.ditail__What {
    width: 100vw;
    margin-top: 10%;
    padding: 1%;
    font-size: 1.7rem;
    cursor: pointer;
    max-width: max-content;
} */

@media screen and (min-width:768px) {
    .ContainerMain {
        background: linear-gradient(#f74f4f 60%, rgb(255, 255, 255));
        font-family: 'Jost', 'Playfair Display';
        display: flex;
        min-height: 50vh;
        /* margin-top: -10vh; */
    }

    .img_wight {
        display: none;
    }




    .ContainerRuls {
        display: flex;
        width: 100vw;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;

    }

    .WrapAdd {
        display: flex;
        flex-direction: row;
    }

    .img_girl {
        max-width: 100%;
        margin-top: -5%;
    }

    .WrapAdd {
        display: flex;
        align-items: flex-end;
        font-family: 'Jost', 'Playfair Display';
    }

    .ContainerText {
        font-size: 2rem;
        align-content: flex-end;

    }

    .bottonFon {
        width: 100vw;
        background-color: #f74f4f;
        /* margin-bottom: -10%; */
    }


}